@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap');
/* font-family: 'Source Sans 3', sans-serif; */

body{
    font-family: 'Source Sans 3', sans-serif;
    background-color: #ffc46b52;
}
::selection{
    background-color: rgb(180, 0, 0);
    color: white;
}

.btn-play{
    /* Formatando o botão de para ficar com as cores mais proximas do jogo */
    border-color: rgb(0, 0, 0);
    background-color: rgb(180, 0, 0);
    color: #ffffff;
    font-weight: bold;
}

/* Colocando uma cor diferente no cabeçalho e rodapé por meio dessa classe */
.bg-t20{background-color: rgb(180, 70, 0);}

.call{
    /* Uso uma imagem personalizada como fundo */
    background-image: url(../images/paper.jpg);
    background-position: bottom;
    /* Evita a imagem ficar se repetindo no fundo da div */
    background-repeat: no-repeat;
    font-size: large;
    /* Deixando o texto em itálico por aqui já que a classe de bootstrap não funcionou devidamente no HTML */
    font-style: italic;
    /* Ajuste na margin e padding */
    margin-bottom: 1%;
    padding-top: 2%;
}

aside{
    /* Deixando o botão do mesmo tamanho da imagem com mais facilidade */
    display: flex;
    flex-direction: column;
}
